USE [master]
GO
/****** Object:  Database [QL_QanCaPhe]    Script Date: 9/18/2025 2:20:51 AM ******/
CREATE DATABASE [QL_QanCaPhe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_QanCaPhe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QL_QanCaPhe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_QanCaPhe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QL_QanCaPhe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_QanCaPhe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_QanCaPhe]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 9/18/2025 2:20:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[MaCLV] [nvarchar](50) NOT NULL,
	[TenCLV] [nvarchar](50) NULL,
	[SoTien] [int] NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CaLamViec] PRIMARY KEY CLUSTERED 
(
	[MaCLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTiet_NhapHang]    Script Date: 9/18/2025 2:20:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTiet_NhapHang](
	[MaSP] [nvarchar](50) NULL,
	[MaHD_NhapHang] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[TongTien] [int] NULL,
	[GhiChu] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBanHang]    Script Date: 9/18/2025 2:20:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBanHang](
	[MaHD_BanHang] [nvarchar](50) NULL,
	[MaSP] [nvarchar](50) NULL,
	[SoLuong] [nchar](10) NULL,
	[GhiChu] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 9/18/2025 2:20:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhap](
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NULL,
	[PhanQuyen] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DangNhap] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 9/18/2025 2:20:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaSP] [nvarchar](50) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[GiaSP] [int] NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
	[Anh] [nvarchar](255) NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon_BanHang]    Script Date: 9/18/2025 2:20:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon_BanHang](
	[MaHD_BanHang] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
	[MaKH] [nvarchar](50) NULL,
	[NgayHDBH] [nvarchar](50) NULL,
	[SoLuong] [nvarchar](50) NULL,
	[GiamGia] [nvarchar](50) NULL,
	[TongTien] [int] NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_HoaDon_BanHang] PRIMARY KEY CLUSTERED 
(
	[MaHD_BanHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon_NhapHang]    Script Date: 9/18/2025 2:20:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon_NhapHang](
	[MaHD_NhapHang] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
	[NgayHD_NhapHang] [date] NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
	[MaNCC] [nvarchar](50) NULL,
 CONSTRAINT [PK_HoaDon_NhapHang] PRIMARY KEY CLUSTERED 
(
	[MaHD_NhapHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 9/18/2025 2:20:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](50) NOT NULL,
	[MaLKH] [nvarchar](50) NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
	[GioiTinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiKhachHang]    Script Date: 9/18/2025 2:20:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKhachHang](
	[MaLKH] [nvarchar](50) NOT NULL,
	[TenLKH] [nvarchar](50) NULL,
	[GiamGia] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LoaiKhachHang] PRIMARY KEY CLUSTERED 
(
	[MaLKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongNhanVien]    Script Date: 9/18/2025 2:20:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongNhanVien](
	[MaCLV] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
	[SoCaLam] [int] NULL,
	[TongTien] [int] NULL,
	[NgayNhanLuong] [date] NULL,
	[GhiChu] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 9/18/2025 2:20:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MaSP] [nvarchar](50) NOT NULL,
	[GiaSP] [nvarchar](50) NULL,
	[HinhAnh] [image] NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 9/18/2025 2:20:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [nvarchar](50) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 9/18/2025 2:20:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](50) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[ChucVu] [nvarchar](10) NULL,
	[NgayVaoLam] [date] NULL,
	[DiaChi] [nvarchar](250) NULL,
	[SDT] [nvarchar](250) NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTiet_NhapHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_NhapHang_HangHoa] FOREIGN KEY([MaSP])
REFERENCES [dbo].[HangHoa] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTiet_NhapHang] CHECK CONSTRAINT [FK_ChiTiet_NhapHang_HangHoa]
GO
ALTER TABLE [dbo].[ChiTiet_NhapHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_NhapHang_HoaDon_NhapHang] FOREIGN KEY([MaHD_NhapHang])
REFERENCES [dbo].[HoaDon_NhapHang] ([MaHD_NhapHang])
GO
ALTER TABLE [dbo].[ChiTiet_NhapHang] CHECK CONSTRAINT [FK_ChiTiet_NhapHang_HoaDon_NhapHang]
GO
ALTER TABLE [dbo].[ChiTietBanHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBanHang_HoaDon_BanHang] FOREIGN KEY([MaHD_BanHang])
REFERENCES [dbo].[HoaDon_BanHang] ([MaHD_BanHang])
GO
ALTER TABLE [dbo].[ChiTietBanHang] CHECK CONSTRAINT [FK_ChiTietBanHang_HoaDon_BanHang]
GO
ALTER TABLE [dbo].[ChiTietBanHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBanHang_Menu] FOREIGN KEY([MaSP])
REFERENCES [dbo].[Menu] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietBanHang] CHECK CONSTRAINT [FK_ChiTietBanHang_Menu]
GO
ALTER TABLE [dbo].[HoaDon_BanHang]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_BanHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon_BanHang] CHECK CONSTRAINT [FK_HoaDon_BanHang_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon_BanHang]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_BanHang_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon_BanHang] CHECK CONSTRAINT [FK_HoaDon_BanHang_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon_NhapHang]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhapHang_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[HoaDon_NhapHang] CHECK CONSTRAINT [FK_HoaDon_NhapHang_NhaCungCap]
GO
ALTER TABLE [dbo].[HoaDon_NhapHang]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhapHang_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon_NhapHang] CHECK CONSTRAINT [FK_HoaDon_NhapHang_NhanVien]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_LoaiKhachHang] FOREIGN KEY([MaLKH])
REFERENCES [dbo].[LoaiKhachHang] ([MaLKH])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_LoaiKhachHang]
GO
ALTER TABLE [dbo].[LuongNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_LuongNhanVien_CaLamViec] FOREIGN KEY([MaCLV])
REFERENCES [dbo].[CaLamViec] ([MaCLV])
GO
ALTER TABLE [dbo].[LuongNhanVien] CHECK CONSTRAINT [FK_LuongNhanVien_CaLamViec]
GO
ALTER TABLE [dbo].[LuongNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_LuongNhanVien_NhanVien] FOREIGN KEY([MaCLV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LuongNhanVien] CHECK CONSTRAINT [FK_LuongNhanVien_NhanVien]
GO
USE [master]
GO
